apiVersion: application.giantswarm.io/v1alpha1
kind: Chart
metadata:
  labels:
    chart-operator.giantswarm.io/version: 1.0.0
  name: prometheus
  namespace: default
spec:
  config:
    configMap:
      name: f2def-chart-values
      namespace: f2def
      resourceVersion: ""
    secret:
      name: f2def-chart-values
      namespace: f2def
      resourceVersion: ""
  install:
    skipCRDs: true
    timeout: 6m0s
  name: prometheus
  namespace: monitoring
  namespaceConfig:
    annotations:
      ownership.my-org.com/responsible: my-team
  rollback:
    timeout: 7m0s
  tarballURL: prometheus-1.0.1.tgz
  uninstall:
    timeout: 8m0s
  upgrade:
    timeout: 9m0s
  version: 1.0.1
